.cardItem-onload{
    animation: cardmove 1s 1 ease-out;
}

@keyframes cardmove {
    from{
        transform: translateX(-100%);
    }
}   



@media (max-width: 768px) {
    .card-most-view{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}